
<div class="landing-image">
<h1 class="ui center aligned icon header">
  <i class="paper plane icon"></i>
  Wynnewood Tiger Trips
</h1>
<tbody>

  <% @trips.each do |trip| %>
    <h2><%= link_to trip.name, trip %></h2>
  <% end %>
</tbody>

<%= link_to 'Create a New Trip', new_trip_path, class: "ui green button" %>

</div>
