<h1 class="ui header"><%= @trip.name %></h1>
<hr />
<h3>What would you like to do?</h3>
<%= link_to 'View Locations', trip_locations_path(@trip), class: "ui orange button inverted" %>
<%= link_to 'Edit Trip', edit_trip_path(@trip),class: "ui blue button inverted" %>

<div class="ui red button inverted">
<%= link_to 'Delete Trip', @trip, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>