<h1 class="ui header">Addresses</h1>
<hr>

<% @addresses.each do |address| %>
  <h2><%= link_to address.full_address, [@location,address], class: "ui white button" %></h2>
  <% end %>


  <%= link_to 'Create a New Address', new_location_address_path(@location), class: "ui green button inverted" %>
  <%= link_to 'Back to Trips',root_path, class: "ui purple button inverted" %>

  
 