<h1 class="ui header">Addresses</h1>
<hr>

<% @addresses.each do |address| %>
  <h2><%= link_to address.full_address, [@location,address] %></h2>
  <% end %>


  <%= link_to 'Create a new address', new_location_address_path(@location), class: "ui green button inverted" %>



 