<h1 class="ui header"><%= @trip.name %> Locations</h1>
<hr></hr>

  <% @locations.each do |location| %>
    <h2>
      <%= link_to location.name, [@trip, location] %>
      <div></div>
      </h2>

  <% end %>


<%= link_to 'Create New Location', new_trip_location_path(@trip), class: "ui green button inverted" %>



