<footer>
<div class="ui statistics">
  <div class="statistic">
    <div class="value">
      22
    </div>
    <div class="label">
      Saves
    </div>
  </div>
  <div class="statistic">
    <div class="text value">
      Three<br>
      Thousand
    </div>
    <div class="label">
      Signups
    </div>
  </div>
  <div class="statistic">
    <div class="value">
      <i class="plane icon"></i> 5
    </div>
    <div class="label">
      Flights
    </div>
  </div>
  <div class="statistic">
    <div class="value">
      <img src="https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" class="ui circular inline image">
      3
    </div>
    <div class="label">
      Team Members
    </div>
  </div>
</div>
</footer>