<nav>
<ul>

<div class="ui secondary  menu">
  <a class="item active" <%= link_to 'Home', trips_path  %>
  

  <div class="right menu">
    <div class="item">
      <div class="ui icon input">
        <input type="text" placeholder="Search... (no worky)">
        <i class="search link icon"></i>
      </div>
    </div>
  </div>
</div>

</ul>
</nav>

 
